header {
  color: var(--bs-body-color);
  margin-bottom: 20px;
}

header h3{
  color: var(--bs-secondary-color);
}

header .primary-emphasis {
  color: var(--bs-primary-text-emphasis);
}

main {
  padding-bottom: 20px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  background-color: var(--bs-body-bg);
}