header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--bs-body-color);
  margin-bottom: 1rem;
  padding-top: 1rem;
}

header > div {
  display: flex;
}

main {
  padding-bottom: 20px;
}

main > h1 {
  padding-bottom: 1rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  background-color: var(--bs-body-bg);
}
