header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--bs-body-color);
  margin-bottom: 1rem;
  padding-top: 1rem;
}

header > div {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 60px;
  padding-bottom: 5px;
}

main .title {
  color: var(--bs-body-color);
  font-weight: bold;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  background-color: var(--bs-secondary-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
